<style>
    .relative-block {
        position: relative;
    }

    .menu-new {
        position: absolute;
        width: 36px;
        height: 15px;
        top: 7px;
        right: 0;
        line-height: 15px;
        font-size: 10px;
        color: #EEEEEE;
        text-align: center;
        background-color: #FF6D00;
        border-radius: 15px;
    }

    .menu-new.menu-new-dropdown {
        right: 62px;
    }
</style>
<ul id="header-links-dropdown" class="dropdown-menu js-header-links-dropdown">

    <li class="dropdown-menu-item dropdown-menu-underline">
        <a href="/dashboard">
            <div class="dropdown-menu-text dropdown-menu-text-no-icon">
                Dashboard
            </div>
        </a>
    </li>

    <li class="dropdown-menu-item dropdown-menu-underlink">
        <a href="/community">
            <div class="dropdown-menu-text dropdown-menu-text-no-icon">
                Community
            </div>
        </a>
    </li>

</ul>

