{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }


        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }

    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="dashboard-top-spacer">&nbsp;</div>

        <div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
					<h1>Last 5 Sign In</h1>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
								<th>Name</th>
                                <th>Tier</th>
                                <th>Points</th>
								<th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
							{% for user in recent %}
							<tr>
								<td><a href="#modal_{{user['user_id']}}" data-toggle="modal">{{ user['display_name'] }}</a></td>
								<td>{{ user['tier'] }}</td>
								<td>{{ user['point_balance'] }}</td>
								<td>{% if user['phone'] is not none %}{% for number in user['phone'] %}{{ number }}{% endfor %}{% endif %}</td>
                            </tr>
							<div id="modal_{{user['user_id']}}" class="modal fade">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-body">
											<p>{{ user['area'] }}</p>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
